@'
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.git
.gitignore
Dockerfile
docker-compose.yml
.env
coverage
dist
build
*.log
*.tgz
'@ | Set-Content -Path .\.dockerignore -Encoding UTF8